/* Base */
:root {
    --font: Helvetica, Arial, sans-serif;
    --color-green: #628026;
    --color-green-dark: #3b4e15;
    --color-gray: #f4f4f4;
    --color-white: #ffffff;
    --color-dark: #333333;
    --color-light: #ffffff80;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
}

body {
    font-family: var(--font);
    background-color: var(--color-white);
}

::selection {
    background-color: var(--color-green);
}

/** Helper **/

.__element {
    text-decoration: underline;
}

/* Header */

.main__header {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999;
}

.nav__bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: rgba(255, 255, 255, 0.5);

}

.main__logo {
    align-self: center;
}

.main__logo__a {
    font-weight: bolder;
}

.main__logo__a,
.nav__bar__a {
    color: var(--color-dark)
}

.nav__bar__ul {
    display: flex;
    justify-content: space-around;
}

.nav__bar__li {
    padding: 1rem;
    list-style-type: none;
}

.main__logo__a,
.nav__bar__a {
    text-decoration: none;
}

.main__logo__a:hover,
.nav__bar__a:hover {
    text-decoration: underline;
}

.nav__bar__li__a__button {
    color: var(--color-white);
    align-self: center;
    border-radius: .5rem;
    padding: 1rem;
    background-color: var(--color-green);
    text-decoration: none;
}

.nav__bar__li__a__button:hover {
    background-color: var(--color-green-dark);
    text-decoration: none;
}



.nav__bar__li__button,
.nav__bar__li__button a {
    color: var(--color-white);
}

/* Main */

/** Container **/
.container {
    padding-top: 5rem;
}

/** Hero **/
.hero {
    display: flex;
    padding: 1rem 2.5rem;
    justify-content: space-between;
}

/** Hero Title & Subtitle **/
.hero__title__subtitle {
    padding: 0;
}

.hero__title {
    width: 30rem;
    font-size: 5rem;
    margin: 0;
    padding-top: 3rem;
}

.hero__subtitle {
    font-size: 1.15rem;
    width: 40rem;
    line-height: 1.5rem;
}

.title__colored {
    padding-top: .25rem;
    background-color: var(--color-green);
    border-top-left-radius: .20rem;
    border-bottom-right-radius: .20rem;
}

/** Hero Image **/

.hero__image {
    width: 23.5rem;
}

/** Sub Hero Paragraph **/

.sub__hero {
    padding: 5rem 22rem;
}


.sub__hero__p {
    text-align: center;
    font-size: 1.7rem;
    line-height: 3rem;
}

/** Features Section **/
.features__section {
    padding-top: 1rem;
    margin: 2rem;
}

.features__title {
    font-size: 2.5rem;
}

.features__section__elements {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2rem;
    grid-auto-flow: dense;
}

.elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.elements:nth-child(2n+2) {
    flex-direction: row-reverse;
}

.text__elements__title {
    font-size: 2rem;
}
text__elements__paragraph__1
text__elements__paragraph__2

img .image__elements {
    width: 10rem;
}

/** Learn More Setion **/
.learn__more__title, .install__about__section__title,
.install__about__section__paragraph{
    text-align: center;
}

.install__about__section {
    display: flex;
}

.install__section, .about__section {
    display: flex;
    flex-direction: column;
}


.img__install__about__section {
    align-self: center;
    width: 80%;
}

